/* Custom CSS Class */

html, body {
    height: auto;
    margin: 0;
}

footer {
    clear: both;
    position: relative;
}

.bg-overlay {
    background: url('/images/login-bg.png');
    background-size: cover;
    min-height: 100vh;
}

.color-bg-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.4);
}

.nav-bg-primary {
    background-color: #FF5733;
}

.main-footer {
    background-color: #1B1A1A;
}

.btn-custom-ani {
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #9E0000 0 -4px 0 inset;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
}

.btn-custom-ani:focus {
    box-shadow: #9E0000 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9E0000 0 -4px 0 inset;
}

.btn-custom-ani:hover {
    box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px, rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #9E0000 0 -4px 0 inset;
    transform: translateY(-2px);
}

.btn-custom-ani:active {
    box-shadow: #9E0000 0 3px 7px inset;
    transform: translateY(2px);
}

.btn-card-container {
    border: 0;
    border-radius: 1rem;
    background-color: #C41B1B;
    display: flex;
    flex-direction: column;
    width: 10rem;
}

.btn-card-container .btn-card-logo {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0 0.5rem 0;
}

.btn-card-container .btn-card-text {
    padding: 0 0.5rem 0 0.5rem;
}

.home-login-btn {
    text-align: center;
    color: white;
    border: 0;
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    background-color: #C41B1B;
}

.bg-pengajuan-perbaikan {
    background-color: #f8f8f8;
}

.box-header-color {
    background-color: #9f0000;
    color: #ffffff;
}

.primary-btn-color {
    background-color: #9f0000;
    color: #f8f8f8;
    border: 1px solid #9f0000 !important;
}

.primary-btn-color:hover svg {
    fill: #9f0000;
}

.primary-border-color {
    border: 1px solid #9f0000 !important;
}

.secondary-btn-color {
    background-color: #6C757D;
    border: 1px solid #6C757D !important;

}

.table-header th {
    background-color: #9f0000;
    color: #f8f8f8;
}

.bg-hasil {
    background-color: #f8f8f8;
}

.hasil-min-height {
    min-height: 79vh;
}

.hasil-table {
    border-radius: 17px !important;
}

.hasil-table th {
    background-color: #9f0000;
    color: #ffffff;
}

.hasil-table th{
    padding: 11px;
}

.hasil-table td {
    padding: 25px;
}

.primary-text-color {
    color: #9E0000;
}

.primary-text-color:hover,
.primary-text-color:active  {
    background-color: #9e0000;
    color: #fff;
    border: 1px solid #9e0000;
}

.hasil-table tr:first-child th:first-child {
    border-top-left-radius: 17px;
}
.hasil-table tr:first-child th:last-child {
    border-top-right-radius: 17px;
}

.hasil-table tr:last-child td:first-child {
    border-bottom-left-radius: 17px;
}

.hasil-table tr:last-child td:last-child {
    border-bottom-right-radius: 17px;
}

.table-sortable th {
	cursor: pointer;
}

.table-sortable .th-sort-asc::after {
	content: "\25b4";
}

.table-sortable .th-sort-desc::after {
	content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
	margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
	background: rgba(0, 0, 0, 0.1);
}

.page-item.active .page-link {
    background-color: #9E0000;
    border-color: #9E0000;
}