/* Custom CSS Class */

html, body {
    height: auto;
    margin: 0;
}

footer {
    clear: both;
    position: relative;
}

.bg-overlay {
    background: url('/images/login-bg.png');
    background-size: cover;
    position: relative;
}

.color-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.4);
}

.nav-bg-primary {
    background-color: #FF5733;
}

.main-footer {
    background-color: #1B1A1A;
}

.btn-custom {
    background-color: ##9d0000;
}
